# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.venv/
venv/
ENV/

# Environment Variables (Secrets)
.env
.env.local

# IDE
.vscode/
.idea/

# Dataset (Too large for Git)
backend/training/dataset/
backend/training/dataset_backup/


# TensorFlow/Keras
saved_model_temp/
backend/training/logs/
backend/training/plots/

# OS specific
.DS_Store
Thumbs.db

# Large Cache
__MACOSX/
